doc/example/flows.json
[{"id":"6a5fd7c2.ab7598","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf4af36d.b83af","type":"open-web","z":"6a5fd7c2.ab7598","name":"","browser":"chrome","webURL":"https://duckduckgo.com/","width":1280,"height":1024,"timeout":3000,"maximized":true,"headless":false,"serverURL":"http://10.0.1.12:4444/wd/hub","x":370,"y":120,"wires":[["8206817b.71a7c"]]},{"id":"8035baaa.c1b388","type":"inject","z":"6a5fd7c2.ab7598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":120,"wires":[["bf4af36d.b83af"]]},{"id":"8206817b.71a7c","type":"find-element","z":"6a5fd7c2.ab7598","name":"Find Search input","selector":"id","target":"search_form_input_homepage","timeout":3000,"waitFor":"2000","x":390,"y":240,"wires":[["b9d2517e.a6d7c"],["2f745a90.666676"]]},{"id":"9583f32f.cc0f9","type":"close-web","z":"6a5fd7c2.ab7598","name":"","waitFor":"30000","x":1050,"y":320,"wires":[["c7c135a0.c0d6e8"]]},{"id":"c7c135a0.c0d6e8","type":"debug","z":"6a5fd7c2.ab7598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":320,"wires":[]},{"id":"c028eb25.13e088","type":"catch","z":"6a5fd7c2.ab7598","name":"","scope":null,"uncaught":false,"x":180,"y":40,"wires":[["5647d8a4.05c3e8"]]},{"id":"5647d8a4.05c3e8","type":"debug","z":"6a5fd7c2.ab7598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":40,"wires":[]},{"id":"d210dfa4.b7c89","type":"click-on","z":"6a5fd7c2.ab7598","name":"Click on search button","selector":"id","target":"search_button_homepage","timeout":1000,"waitFor":500,"clickOn":false,"x":400,"y":420,"wires":[["858ace24.4a56"],["2f745a90.666676"]]},{"id":"858ace24.4a56","type":"click-on","z":"6a5fd7c2.ab7598","name":"Click on first result","selector":"xpath","target":"//a[contains(@class,\"result__a\")][1]","timeout":"2000","waitFor":3000,"clickOn":true,"x":390,"y":520,"wires":[["a2206fd8.d9eb"],["2f745a90.666676"]]},{"id":"a2206fd8.d9eb","type":"get-title","z":"6a5fd7c2.ab7598","name":"Get web page title","expected":"","timeout":3000,"waitFor":500,"x":390,"y":620,"wires":[["2ba887ee.fc34d8","c2056332.91fa4"],["2f745a90.666676","c2056332.91fa4"]]},{"id":"2f745a90.666676","type":"screenshot","z":"6a5fd7c2.ab7598","name":"","filePath":"./test.png","waitFor":500,"x":870,"y":320,"wires":[["9583f32f.cc0f9"],["9583f32f.cc0f9"]]},{"id":"e99182df.60e55","type":"comment","z":"6a5fd7c2.ab7598","name":"Load Brower and look for node-red website","info":"","x":280,"y":80,"wires":[]},{"id":"a25ea2e3.ea1ec","type":"comment","z":"6a5fd7c2.ab7598","name":"Navigate on Node-Red Website","info":"","x":250,"y":480,"wires":[]},{"id":"2ba887ee.fc34d8","type":"get-text","z":"6a5fd7c2.ab7598","name":"Get H1 text","expected":"Node-RED","selector":"css","target":".title h1","timeout":1000,"waitFor":500,"savetofile":false,"x":370,"y":700,"wires":[["26a1b5e4.c3c18a","c2056332.91fa4"],["2f745a90.666676","c2056332.91fa4"]]},{"id":"26a1b5e4.c3c18a","type":"navigate","z":"6a5fd7c2.ab7598","name":"","url":"https://flows.nodered.org/","navType":"to","waitFor":500,"x":360,"y":780,"wires":[["14574237.855fbe"],["2f745a90.666676"]]},{"id":"e83ff6a8.152d08","type":"click-on","z":"6a5fd7c2.ab7598","name":"Click on first result","selector":"xpath","target":"//div[contains(@class,\"filter-results\")]//a[1]","timeout":1000,"waitFor":500,"clickOn":false,"x":390,"y":940,"wires":[["95e0c843.9bcf48"],["2f745a90.666676"]]},{"id":"14574237.855fbe","type":"send-keys","z":"6a5fd7c2.ab7598","name":"Write search text","keys":"selenium","selector":"id","target":"filter-term","timeout":1000,"waitFor":500,"clearval":false,"x":390,"y":860,"wires":[["e83ff6a8.152d08"],["2f745a90.666676"]]},{"id":"b9d2517e.a6d7c","type":"set-value","z":"6a5fd7c2.ab7598","name":"Set value to search","value":"node-red","selector":"","target":"filter-term","timeout":"2000","waitFor":"1500","x":390,"y":320,"wires":[["d210dfa4.b7c89"],["2f745a90.666676"]]},{"id":"95e0c843.9bcf48","type":"get-attribute","z":"6a5fd7c2.ab7598","name":"Check style from H1 flow-title","attribute":"style","expected":"margin-bottom: 10px;","selector":"className","target":"flow-title","timeout":1000,"waitFor":500,"savetofile":false,"x":400,"y":1020,"wires":[["2f745a90.666676","c2056332.91fa4"],["2f745a90.666676","c2056332.91fa4"]]},{"id":"c2056332.91fa4","type":"debug","z":"6a5fd7c2.ab7598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":760,"wires":[]}]