examples/flows.json
[
    {
        "id": "6a5fd7c2.ab7598",
        "type": "tab",
        "label": "Example 1 : Navigation & Find Element",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8035baaa.c1b388",
        "type": "inject",
        "z": "6a5fd7c2.ab7598",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "value",
                "v": "node-red",
                "vt": "str"
            },
            {
                "p": "website",
                "v": "https://www.duckduckgo.com/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "ac56ed7b69e039f1"
            ]
        ]
    },
    {
        "id": "8206817b.71a7c",
        "type": "find element",
        "z": "6a5fd7c2.ab7598",
        "name": "Find Search input",
        "selector": "id",
        "target": "searchbox_input",
        "multiple": false,
        "timeout": 3000,
        "waitFor": "2000",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "1985f907499d79a7"
            ],
            [
                "2f745a90.666676"
            ]
        ]
    },
    {
        "id": "c7c135a0.c0d6e8",
        "type": "debug",
        "z": "6a5fd7c2.ab7598",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 320,
        "wires": []
    },
    {
        "id": "c028eb25.13e088",
        "type": "catch",
        "z": "6a5fd7c2.ab7598",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 180,
        "y": 40,
        "wires": [
            [
                "5647d8a4.05c3e8"
            ]
        ]
    },
    {
        "id": "5647d8a4.05c3e8",
        "type": "debug",
        "z": "6a5fd7c2.ab7598",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "d210dfa4.b7c89",
        "type": "click on",
        "z": "6a5fd7c2.ab7598",
        "name": "Click on search button",
        "selector": "xpath",
        "target": "//*/button[@type='submit']",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "clickOn": false,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "858ace24.4a56"
            ],
            [
                "2f745a90.666676"
            ]
        ]
    },
    {
        "id": "858ace24.4a56",
        "type": "click on",
        "z": "6a5fd7c2.ab7598",
        "name": "Click on first result",
        "selector": "xpath",
        "target": "//article[1]",
        "mode": "first",
        "timeout": "2000",
        "waitFor": 3000,
        "clickOn": false,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "a2206fd8.d9eb"
            ],
            [
                "2f745a90.666676"
            ]
        ]
    },
    {
        "id": "a2206fd8.d9eb",
        "type": "get title",
        "z": "6a5fd7c2.ab7598",
        "name": "Get web page title",
        "expected": "Node-RED",
        "timeout": 3000,
        "waitFor": 500,
        "x": 390,
        "y": 620,
        "wires": [
            [
                "2ba887ee.fc34d8",
                "c2056332.91fa4"
            ],
            [
                "2f745a90.666676",
                "c2056332.91fa4"
            ]
        ]
    },
    {
        "id": "2f745a90.666676",
        "type": "screenshot",
        "z": "6a5fd7c2.ab7598",
        "name": "Screenshot full",
        "filePath": "./test.png",
        "selector": "xpath",
        "target": "//code",
        "mode": "all-error-stop-each",
        "timeout": "1000",
        "waitFor": 500,
        "fullscreen": true,
        "x": 1000,
        "y": 320,
        "wires": [
            [
                "8970dad5ce84a2b6"
            ],
            [
                "47eb90af5fff6ebb"
            ]
        ]
    },
    {
        "id": "e99182df.60e55",
        "type": "comment",
        "z": "6a5fd7c2.ab7598",
        "name": "Load Brower and look for node-red website",
        "info": "",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "a25ea2e3.ea1ec",
        "type": "comment",
        "z": "6a5fd7c2.ab7598",
        "name": "Navigate on Node-Red Website",
        "info": "",
        "x": 250,
        "y": 480,
        "wires": []
    },
    {
        "id": "2ba887ee.fc34d8",
        "type": "get text",
        "z": "6a5fd7c2.ab7598",
        "name": "Get H1 text",
        "expected": "",
        "selector": "tag name",
        "target": "h1",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "savetofile": false,
        "x": 370,
        "y": 700,
        "wires": [
            [
                "26a1b5e4.c3c18a",
                "c2056332.91fa4"
            ],
            [
                "2f745a90.666676",
                "c2056332.91fa4"
            ]
        ]
    },
    {
        "id": "26a1b5e4.c3c18a",
        "type": "navigate",
        "z": "6a5fd7c2.ab7598",
        "name": "",
        "url": "https://flows.nodered.org/",
        "navType": "to",
        "waitFor": 500,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "14574237.855fbe"
            ],
            [
                "2f745a90.666676"
            ]
        ]
    },
    {
        "id": "e83ff6a8.152d08",
        "type": "click on",
        "z": "6a5fd7c2.ab7598",
        "name": "Click on first result",
        "selector": "xpath",
        "target": "//div[contains(@class,\"filter-results\")]//a[1]",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "clickOn": false,
        "x": 390,
        "y": 940,
        "wires": [
            [
                "95e0c843.9bcf48"
            ],
            [
                "2f745a90.666676"
            ]
        ]
    },
    {
        "id": "14574237.855fbe",
        "type": "send keys",
        "z": "6a5fd7c2.ab7598",
        "name": "Write search text",
        "keys": "selenium",
        "selector": "id",
        "target": "filter-term",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "clearVal": false,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "e83ff6a8.152d08"
            ],
            [
                "2f745a90.666676"
            ]
        ]
    },
    {
        "id": "95e0c843.9bcf48",
        "type": "get attribute",
        "z": "6a5fd7c2.ab7598",
        "name": "Check style from H1 flow-title",
        "attribute": "style",
        "property": "",
        "expected": "margin-bottom: 10px;",
        "selector": "className",
        "target": "flow-title",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "savetofile": false,
        "x": 430,
        "y": 1020,
        "wires": [
            [
                "2f745a90.666676",
                "c2056332.91fa4"
            ],
            [
                "2f745a90.666676",
                "c2056332.91fa4"
            ]
        ]
    },
    {
        "id": "c2056332.91fa4",
        "type": "debug",
        "z": "6a5fd7c2.ab7598",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 760,
        "wires": []
    },
    {
        "id": "ac56ed7b69e039f1",
        "type": "open browser",
        "z": "6a5fd7c2.ab7598",
        "name": "",
        "browserType": "chrome",
        "webURL": "{{msg.website}}",
        "width": 1280,
        "height": 1024,
        "timeout": 3000,
        "maximized": true,
        "headless": false,
        "args": [
            "--disable-web-security"
        ],
        "serverURL": "http://localhost:9515",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "8206817b.71a7c"
            ]
        ]
    },
    {
        "id": "1985f907499d79a7",
        "type": "send keys",
        "z": "6a5fd7c2.ab7598",
        "name": "Write \"node-red\" to search",
        "keys": "node-red",
        "selector": "",
        "target": "",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "clearVal": true,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "d210dfa4.b7c89"
            ],
            [
                "2f745a90.666676"
            ]
        ]
    },
    {
        "id": "47eb90af5fff6ebb",
        "type": "close browser",
        "z": "6a5fd7c2.ab7598",
        "name": "",
        "waitFor": 500,
        "x": 1410,
        "y": 320,
        "wires": [
            [
                "c7c135a0.c0d6e8"
            ]
        ]
    },
    {
        "id": "8970dad5ce84a2b6",
        "type": "screenshot",
        "z": "6a5fd7c2.ab7598",
        "name": "Screenshort partial",
        "filePath": "./test-partial.png",
        "selector": "xpath",
        "target": "//code",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "fullscreen": false,
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "47eb90af5fff6ebb"
            ],
            [
                "47eb90af5fff6ebb"
            ]
        ]
    },
    {
        "id": "f0421dd89023bcf4",
        "type": "tab",
        "label": "Example 2 : Cookies",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "caf806fd0a2faf01",
        "type": "inject",
        "z": "f0421dd89023bcf4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "12582a7e503867c9"
            ]
        ]
    },
    {
        "id": "12582a7e503867c9",
        "type": "open browser",
        "z": "f0421dd89023bcf4",
        "name": "",
        "browserType": "chrome",
        "webURL": "https://simonradier.github.io/simple-webdriver/test/html/",
        "width": 1280,
        "height": 1024,
        "timeout": 3000,
        "maximized": true,
        "headless": false,
        "args": [],
        "serverURL": "http://localhost:9515",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "9b8dbcec2e59e672"
            ]
        ]
    },
    {
        "id": "5a51c46752286227",
        "type": "debug",
        "z": "f0421dd89023bcf4",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "f07f4e70bc28c542",
        "type": "close browser",
        "z": "f0421dd89023bcf4",
        "name": "",
        "waitFor": 500,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "5a51c46752286227"
            ]
        ]
    },
    {
        "id": "9b8dbcec2e59e672",
        "type": "get title",
        "z": "f0421dd89023bcf4",
        "name": "",
        "expected": "WD2 Test Page",
        "timeout": 3000,
        "waitFor": 500,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "45314bc6d0d0b6d2",
                "f3d47f690c1d69ed"
            ],
            [
                "f08f6dcd21ded000"
            ]
        ]
    },
    {
        "id": "45314bc6d0d0b6d2",
        "type": "debug",
        "z": "f0421dd89023bcf4",
        "name": "payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "20992e44e0799919",
        "type": "link in",
        "z": "f0421dd89023bcf4",
        "name": "link in 1",
        "links": [],
        "x": 575,
        "y": 460,
        "wires": [
            [
                "f07f4e70bc28c542"
            ]
        ]
    },
    {
        "id": "f08f6dcd21ded000",
        "type": "link call",
        "z": "f0421dd89023bcf4",
        "name": "End",
        "links": [
            "20992e44e0799919"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 610,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f3d47f690c1d69ed",
        "type": "get text",
        "z": "f0421dd89023bcf4",
        "name": "",
        "expected": "test id",
        "selector": "id",
        "target": "id_1234",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "savetofile": false,
        "x": 180,
        "y": 340,
        "wires": [
            [
                "45314bc6d0d0b6d2",
                "f289b8bbe0ded55d"
            ],
            [
                "f08f6dcd21ded000"
            ]
        ]
    },
    {
        "id": "f289b8bbe0ded55d",
        "type": "get cookie",
        "z": "f0421dd89023bcf4",
        "name": "",
        "cookieName": "cookie2",
        "timeout": 3000,
        "waitFor": 500,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "45314bc6d0d0b6d2",
                "d56f71a3cf4f2243"
            ],
            [
                "f08f6dcd21ded000"
            ]
        ]
    },
    {
        "id": "b5a68dfd94d1ba04",
        "type": "get cookie",
        "z": "f0421dd89023bcf4",
        "name": "Get test cookie",
        "cookieName": "test",
        "timeout": 3000,
        "waitFor": 500,
        "x": 200,
        "y": 600,
        "wires": [
            [
                "4a5548620e295f42",
                "45314bc6d0d0b6d2"
            ],
            [
                "f08f6dcd21ded000"
            ]
        ]
    },
    {
        "id": "d56f71a3cf4f2243",
        "type": "set cookie",
        "z": "f0421dd89023bcf4",
        "name": "Create test cookie",
        "delete": false,
        "advanced": false,
        "cookieName": "test",
        "cookieValue": "test",
        "cookiePath": "",
        "cookieDomain": "",
        "cookieSecure": false,
        "cookieHttpOnly": false,
        "cookieExpiry": "",
        "timeout": 3000,
        "waitFor": 500,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "b5a68dfd94d1ba04"
            ],
            [
                "45314bc6d0d0b6d2"
            ]
        ]
    },
    {
        "id": "4a5548620e295f42",
        "type": "set cookie",
        "z": "f0421dd89023bcf4",
        "name": "Delete test cookie",
        "delete": true,
        "advanced": false,
        "cookieName": "test",
        "cookieValue": "test",
        "cookiePath": "",
        "cookieDomain": "",
        "cookieSecure": false,
        "cookieHttpOnly": false,
        "cookieExpiry": "",
        "timeout": 3000,
        "waitFor": 500,
        "x": 210,
        "y": 680,
        "wires": [
            [
                "63ab3c1332419b7c"
            ],
            [
                "f08f6dcd21ded000"
            ]
        ]
    },
    {
        "id": "63ab3c1332419b7c",
        "type": "get cookie",
        "z": "f0421dd89023bcf4",
        "name": "Get test cookie again",
        "cookieName": "test",
        "timeout": 3000,
        "waitFor": 500,
        "x": 220,
        "y": 780,
        "wires": [
            [
                "45314bc6d0d0b6d2"
            ],
            [
                "f08f6dcd21ded000"
            ]
        ]
    },
    {
        "id": "f1a5b48fb0c7658b",
        "type": "comment",
        "z": "f0421dd89023bcf4",
        "name": "Get test cookie should fail",
        "info": "",
        "x": 230,
        "y": 740,
        "wires": []
    },
    {
        "id": "344d20bdc278fdd1",
        "type": "tab",
        "label": "Example 3 : Frames",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5894633167536a87",
        "type": "inject",
        "z": "344d20bdc278fdd1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "61c8946dda8dcedb"
            ]
        ]
    },
    {
        "id": "61c8946dda8dcedb",
        "type": "open browser",
        "z": "344d20bdc278fdd1",
        "name": "",
        "browserType": "chrome",
        "webURL": "https://simonradier.github.io/simple-webdriver/test/html/",
        "width": 1280,
        "height": 1024,
        "timeout": 3000,
        "maximized": true,
        "headless": false,
        "args": [],
        "serverURL": "http://localhost:9515",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "a27e4be40fa9fe2a"
            ]
        ]
    },
    {
        "id": "a27e4be40fa9fe2a",
        "type": "get text",
        "z": "344d20bdc278fdd1",
        "name": "",
        "expected": "Hello",
        "selector": "tag name",
        "target": "h1",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "savetofile": false,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "b0fae3b2c5f9fc4e"
            ],
            [
                "b29debd04cca249f"
            ]
        ]
    },
    {
        "id": "b0fae3b2c5f9fc4e",
        "type": "switch frame",
        "z": "344d20bdc278fdd1",
        "name": "Swith Frame by Number",
        "switchMode": "number",
        "frameNumber": "0",
        "selector": "",
        "target": "",
        "timeout": 1000,
        "waitFor": 500,
        "savetofile": false,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "f53318f966c87c1f"
            ],
            [
                "b29debd04cca249f"
            ]
        ]
    },
    {
        "id": "f53318f966c87c1f",
        "type": "get text",
        "z": "344d20bdc278fdd1",
        "name": "",
        "expected": "Hello World",
        "selector": "tag name",
        "target": "h1",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "savetofile": false,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "ed1bdac6d446feab"
            ],
            [
                "b29debd04cca249f"
            ]
        ]
    },
    {
        "id": "ed1bdac6d446feab",
        "type": "switch frame",
        "z": "344d20bdc278fdd1",
        "name": "Go to Parent",
        "switchMode": "parent",
        "frameNumber": "0",
        "selector": "",
        "target": "",
        "timeout": 1000,
        "waitFor": 500,
        "savetofile": false,
        "x": 190,
        "y": 520,
        "wires": [
            [
                "24a26d30b598ee3d"
            ],
            [
                "b29debd04cca249f"
            ]
        ]
    },
    {
        "id": "24a26d30b598ee3d",
        "type": "get text",
        "z": "344d20bdc278fdd1",
        "name": "",
        "expected": "Hello",
        "selector": "tag name",
        "target": "h1",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "savetofile": false,
        "x": 180,
        "y": 580,
        "wires": [
            [
                "787e1563e40338a2"
            ],
            [
                "b29debd04cca249f"
            ]
        ]
    },
    {
        "id": "787e1563e40338a2",
        "type": "switch frame",
        "z": "344d20bdc278fdd1",
        "name": "Switch Frame by Element",
        "switchMode": "id",
        "frameNumber": "0",
        "selector": "id",
        "target": "frame-test2",
        "timeout": 1000,
        "waitFor": 500,
        "savetofile": false,
        "x": 230,
        "y": 660,
        "wires": [
            [
                "1702b01926daa96b"
            ],
            [
                "b29debd04cca249f"
            ]
        ]
    },
    {
        "id": "ac74894930207891",
        "type": "debug",
        "z": "344d20bdc278fdd1",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 580,
        "wires": []
    },
    {
        "id": "9f9a1b8a621ded0c",
        "type": "close browser",
        "z": "344d20bdc278fdd1",
        "name": "",
        "waitFor": 500,
        "x": 770,
        "y": 580,
        "wires": [
            [
                "ac74894930207891"
            ]
        ]
    },
    {
        "id": "c31da43ea5248b78",
        "type": "link in",
        "z": "344d20bdc278fdd1",
        "name": "link in 2",
        "links": [],
        "x": 655,
        "y": 580,
        "wires": [
            [
                "9f9a1b8a621ded0c"
            ]
        ]
    },
    {
        "id": "b29debd04cca249f",
        "type": "link call",
        "z": "344d20bdc278fdd1",
        "name": "End",
        "links": [
            "c31da43ea5248b78"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 810,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1702b01926daa96b",
        "type": "get text",
        "z": "344d20bdc278fdd1",
        "name": "",
        "expected": "This is a test",
        "selector": "tag name",
        "target": "h1",
        "mode": "first",
        "timeout": 1000,
        "waitFor": 500,
        "savetofile": false,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "b29debd04cca249f"
            ],
            [
                "b29debd04cca249f"
            ]
        ]
    },
    {
        "id": "b4a977197bd7a1f7",
        "type": "tab",
        "label": "Exemple 4 : Click & FindElements",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35def20bd7cb87f4",
        "type": "open browser",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "browserType": "chrome",
        "webURL": "https://critik.fr/test_node.html",
        "width": 1280,
        "height": 1024,
        "timeout": 3000,
        "maximized": true,
        "headless": false,
        "args": [],
        "serverURL": "http://localhost:9515",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "43d4e1238f87a7fa"
            ]
        ]
    },
    {
        "id": "5549920d1c7be16d",
        "type": "inject",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "107bad4fd813adb9"
            ]
        ]
    },
    {
        "id": "43d4e1238f87a7fa",
        "type": "click on",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "selector": "className",
        "target": "counter",
        "mode": "all-each",
        "timeout": 1000,
        "waitFor": 500,
        "clickOn": false,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "1d2be0a373adebd8",
                "6fdb417e05e4dccf"
            ],
            [
                "1d2be0a373adebd8",
                "3ca80950c841d745"
            ]
        ]
    },
    {
        "id": "1d2be0a373adebd8",
        "type": "switch",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "property": "last",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 280,
        "wires": [
            [
                "97a680a286838c45"
            ]
        ]
    },
    {
        "id": "107bad4fd813adb9",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "successNumber",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "35def20bd7cb87f4"
            ]
        ]
    },
    {
        "id": "3ca80950c841d745",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Count Error Number",
        "rules": [
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "flow",
                "to": "$flowContext(\"errorNumber\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6fdb417e05e4dccf",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Count Success Number",
        "rules": [
            {
                "t": "set",
                "p": "successNumber",
                "pt": "flow",
                "to": "$flowContext(\"successNumber\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "97a680a286838c45",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Retreive counter",
        "rules": [
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "msg",
                "to": "errorNumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "successNumber",
                "pt": "msg",
                "to": "successNumber",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 280,
        "wires": [
            [
                "4c65ed4d04d743ff"
            ]
        ]
    },
    {
        "id": "18d15b6b6736628f",
        "type": "debug",
        "z": "b4a977197bd7a1f7",
        "name": "Write Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "test",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 420,
        "wires": []
    },
    {
        "id": "4c65ed4d04d743ff",
        "type": "function",
        "z": "b4a977197bd7a1f7",
        "name": "Check",
        "func": "if (msg.errorNumber == 1 && msg.successNumber == 2)\n    msg.test = \"All continue on error each message : success\"\nelse\n    msg.test = \"All continue on error each message : failure\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 280,
        "wires": [
            [
                "18d15b6b6736628f",
                "7b01d0fa1d979d02"
            ]
        ]
    },
    {
        "id": "06e031fd0817940f",
        "type": "click on",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "selector": "className",
        "target": "counter",
        "mode": "all-error-stop-each",
        "timeout": 1000,
        "waitFor": 500,
        "clickOn": false,
        "x": 460,
        "y": 580,
        "wires": [
            [
                "3a3f2a838e89d53b",
                "b34d7373a7cdfd39"
            ],
            [
                "3a3f2a838e89d53b",
                "40c4aa8017d72d28"
            ]
        ]
    },
    {
        "id": "3a3f2a838e89d53b",
        "type": "switch",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "property": "last",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 580,
        "wires": [
            [
                "924b3eefffc37549"
            ]
        ]
    },
    {
        "id": "7b01d0fa1d979d02",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "successNumber",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "delete",
                "p": "test",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "last",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 480,
        "wires": [
            [
                "6206898f2d87c181"
            ]
        ]
    },
    {
        "id": "40c4aa8017d72d28",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Count Error Number",
        "rules": [
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "flow",
                "to": "$flowContext(\"errorNumber\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b34d7373a7cdfd39",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Count Success Number",
        "rules": [
            {
                "t": "set",
                "p": "successNumber",
                "pt": "flow",
                "to": "$flowContext(\"successNumber\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "924b3eefffc37549",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Retreive counter",
        "rules": [
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "msg",
                "to": "errorNumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "successNumber",
                "pt": "msg",
                "to": "successNumber",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 580,
        "wires": [
            [
                "b4bffb7fe35c4c89"
            ]
        ]
    },
    {
        "id": "b4bffb7fe35c4c89",
        "type": "function",
        "z": "b4a977197bd7a1f7",
        "name": "Check",
        "func": "if (msg.errorNumber == 1 && msg.successNumber == 1)\n    msg.test = \"All stop on Error each message : success\"\nelse\n    msg.test = \"All stop on Error each message : failure\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 580,
        "wires": [
            [
                "18d15b6b6736628f",
                "361385abb72464dc"
            ]
        ]
    },
    {
        "id": "fdef637b34edf6ee",
        "type": "comment",
        "z": "b4a977197bd7a1f7",
        "name": "All (continue on error) Each Message",
        "info": "",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "0ab646b5a30fbe59",
        "type": "comment",
        "z": "b4a977197bd7a1f7",
        "name": "All (stop on error) Each Message",
        "info": "",
        "x": 370,
        "y": 400,
        "wires": []
    },
    {
        "id": "6206898f2d87c181",
        "type": "navigate",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "url": "",
        "navType": "refresh",
        "waitFor": 500,
        "x": 460,
        "y": 480,
        "wires": [
            [
                "06e031fd0817940f"
            ],
            [
                "06e031fd0817940f"
            ]
        ]
    },
    {
        "id": "3649974454333936",
        "type": "click on",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "selector": "className",
        "target": "counter",
        "mode": "all-last",
        "timeout": 1000,
        "waitFor": 500,
        "clickOn": false,
        "x": 460,
        "y": 920,
        "wires": [
            [
                "c40354587abcd40b",
                "038b0e1d338ff65f"
            ],
            [
                "c40354587abcd40b",
                "e08f6028f6df7210"
            ]
        ]
    },
    {
        "id": "c40354587abcd40b",
        "type": "switch",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "property": "last",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 920,
        "wires": [
            [
                "5a8a0df1fd43baad"
            ]
        ]
    },
    {
        "id": "361385abb72464dc",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "successNumber",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "delete",
                "p": "test",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "last",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 820,
        "wires": [
            [
                "80d77cb96c92c72a"
            ]
        ]
    },
    {
        "id": "e08f6028f6df7210",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Count Error Number",
        "rules": [
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "flow",
                "to": "$flowContext(\"errorNumber\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "038b0e1d338ff65f",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Count Success Number",
        "rules": [
            {
                "t": "set",
                "p": "successNumber",
                "pt": "flow",
                "to": "$flowContext(\"successNumber\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "5a8a0df1fd43baad",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Retreive counter",
        "rules": [
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "msg",
                "to": "errorNumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "successNumber",
                "pt": "msg",
                "to": "successNumber",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 920,
        "wires": [
            [
                "f450a6899dd4bcf5"
            ]
        ]
    },
    {
        "id": "f450a6899dd4bcf5",
        "type": "function",
        "z": "b4a977197bd7a1f7",
        "name": "Check",
        "func": "if (msg.errorNumber == 0 && msg.successNumber == 1)\n    msg.test = \"All continue on error last message : success\"\nelse\n    msg.test = \"All continue on error last message : failure\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 920,
        "wires": [
            [
                "18d15b6b6736628f",
                "b50068871e43552f"
            ]
        ]
    },
    {
        "id": "80d77cb96c92c72a",
        "type": "navigate",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "url": "",
        "navType": "refresh",
        "waitFor": 500,
        "x": 460,
        "y": 820,
        "wires": [
            [
                "3649974454333936"
            ],
            [
                "3649974454333936"
            ]
        ]
    },
    {
        "id": "53cfe19c5f6bba16",
        "type": "comment",
        "z": "b4a977197bd7a1f7",
        "name": "All (continue on error) Last Message",
        "info": "",
        "x": 380,
        "y": 740,
        "wires": []
    },
    {
        "id": "131116b0a325c568",
        "type": "click on",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "selector": "className",
        "target": "counter",
        "mode": "all-error-stop-last",
        "timeout": 1000,
        "waitFor": 500,
        "clickOn": false,
        "x": 460,
        "y": 1300,
        "wires": [
            [
                "1908124aa7e7da0f",
                "9f5cdd99f9f58291"
            ],
            [
                "1908124aa7e7da0f",
                "170c36b710de1040"
            ]
        ]
    },
    {
        "id": "1908124aa7e7da0f",
        "type": "switch",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "property": "last",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 1300,
        "wires": [
            [
                "be4a487876fe4df3"
            ]
        ]
    },
    {
        "id": "be4a487876fe4df3",
        "type": "close browser",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "waitFor": 500,
        "x": 850,
        "y": 1300,
        "wires": [
            [
                "f87d8226f1226e09"
            ]
        ]
    },
    {
        "id": "b50068871e43552f",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "successNumber",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "delete",
                "p": "test",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "last",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1200,
        "wires": [
            [
                "644b0f88be66d531"
            ]
        ]
    },
    {
        "id": "170c36b710de1040",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Count Error Number",
        "rules": [
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "flow",
                "to": "$flowContext(\"errorNumber\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "9f5cdd99f9f58291",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Count Success Number",
        "rules": [
            {
                "t": "set",
                "p": "successNumber",
                "pt": "flow",
                "to": "$flowContext(\"successNumber\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "f87d8226f1226e09",
        "type": "change",
        "z": "b4a977197bd7a1f7",
        "name": "Retreive counter",
        "rules": [
            {
                "t": "set",
                "p": "errorNumber",
                "pt": "msg",
                "to": "errorNumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "successNumber",
                "pt": "msg",
                "to": "successNumber",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1300,
        "wires": [
            [
                "8701df319ba31787"
            ]
        ]
    },
    {
        "id": "8701df319ba31787",
        "type": "function",
        "z": "b4a977197bd7a1f7",
        "name": "Check",
        "func": "if (msg.errorNumber == 1 && msg.successNumber == 0)\n    msg.test = \"All stop on error last message : success\"\nelse\n    msg.test = \"All stop on error last message : failure\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1300,
        "wires": [
            [
                "18d15b6b6736628f"
            ]
        ]
    },
    {
        "id": "644b0f88be66d531",
        "type": "navigate",
        "z": "b4a977197bd7a1f7",
        "name": "",
        "url": "",
        "navType": "refresh",
        "waitFor": 500,
        "x": 460,
        "y": 1200,
        "wires": [
            [
                "131116b0a325c568"
            ],
            [
                "131116b0a325c568"
            ]
        ]
    },
    {
        "id": "b573f5c310db9941",
        "type": "comment",
        "z": "b4a977197bd7a1f7",
        "name": "All (stop on error) Last Message",
        "info": "",
        "x": 390,
        "y": 1140,
        "wires": []
    }
]